.contact_page {
    text-align: center;
    padding: 35px 20px;
}

.contact_page_text {
    font-size: 45px;
    font-weight: 500;
}

.contact_main_part {
    display: flex;
    justify-content: space-around;
}

.first_part {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info_section {
    display: flex;
    background-color: rgb(255, 250, 245);
    padding: 15px;
    justify-content: space-around;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.location_box,
.phone_box,
.email_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.location_icon,
.phone_icon,
.email_icon {
    background-color: rgba(185, 137, 70, 1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location_icon i,
.phone_icon i,
.email_icon i {
    font-size: 22px;
    color: rgb(254, 234, 187, 1);
}

.location_big_text,
.phone_big_text,
.email_big_text {
    font-weight: 500;
    font-size: 20px;
}

.map_section {
    background-color: #fafafa;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.map_section iframe {
    padding: 15px 15px 30px 15px;
}

.second_part {
    display: flex;
    width: 40%;
}

.contact_form {
    width: 100%;
    height: fit-content;
    padding: 25px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 247, 237);
    box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.3);
}

.contact_heading_text{
    font-size: 30px;
    font-weight: 500;
}

.form_group {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.form_group input {
    width: 100%;
    background: none;
    background-color: none;
    border: 2px solid rgb(91, 94, 99);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
}

.form_group label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    padding: 0 5px;
    transform: 0.3s all;
    pointer-events: none;
    transition: all ease 0.5s;
}

.form_group textarea {
    width: 100%;
    height: 150px;
    background: none;
    padding: 20px;
    border: 2px solid rgb(91, 94, 99);
    border-radius: 10px;
}

.form_group textarea:focus+label,
.form_group textarea:not(:placeholder-shown)+label {
    top: -8px;
    background-color: rgb(255, 247, 237);
    color: #111;
    font-size: 15px;
}

.form_group textarea:focus,
.form_group textarea:not(:placeholder-shown) {
    border: 2px solid rgb(32, 7, 255);
    color: rgb(255, 255, 255);
}

.form_group input:focus+label,
.form_group input:not(:placeholder-shown)+label {
    top: -8px;
    background-color: rgb(255, 247, 237);
    color: #111;
    font-size: 15px;

}

.form_group input:focus,
.form_group input:not(:placeholder-shown) {
    border: 2px solid rgb(32, 7, 255);
    color: rgb(255, 255, 255);
}

.submit-btn {
    width: 30%;
    background: linear-gradient(45deg, #2a5b48, #1c2e2a, #152320);
    border: none;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
}


.submit-btn:hover {
    transform: translateY(-2px);
}

.btns {
    display: flex;
    gap: 40%;
    justify-content: left;
}

.reset-btn {
    width: 30%;
    background: linear-gradient(45deg, #a70606, #69130c, #530303);
    border: none;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
}

.reset-btn:hover {
    transform: translateY(-2px);
}