.detail_page {
    padding: 20px 80px;
}

.room_detail_image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.room_detail_image {
    position: relative;
}

.label {
    position: absolute;
    border-radius: 5px;
    padding: 10px 30px;
    top: 10px;
    left: 10px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
}

.label.available {
    color: #166534;
    background-color: #dcfce7;
}

.label.booked {
    color: #991b1b;
    background-color: #fee2e2;
}

.label.maintenance {
    color: #92400e;
    background-color: #fef3c7;
}

.room_detail_name {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    padding: 15px 20px;
}

.room_detail {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail_page_about_price {
    display: flex;
    align-items: center;
}

.detail_room_price {
    font-size: 28px;
    color: #0d9488;
    font-weight: 600;
}

.detail_page_feature {
    padding: 30px 0;
}

.detail_page_feature ul {
    display: flex;
    gap: 40px;
    text-align: center;
}

.detail_page_feature ul i {
    font-size: 22px;
    color: #357772;
}

.booking_part {
    background-color: rgb(238, 238, 238);
    padding: 20px 50px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.booking_detail_page_about_price {
    display: flex;

    justify-content: center;
    align-items: center;
}

.booking_detail_room_price {
    font-size: 28px;
    color: #0d9488;
    font-weight: 600;
}

.book_this_room {
    font-size: 20px;
    font-weight: 500;
}

.detail_page_book_now{
    position: relative;
    display: inline-block;
}

.tooltip{
    position: absolute;
    width: fit-content;
    bottom: -40px;
    left: 0px;
    left: calc(-100px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.detail_page_book_now:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.detail_page_book_now.booked button,
.detail_page_book_now.maintenance button {
    background-color: rgb(255, 160, 101);
}

.detail_page_book_now button {
    background-color: #f76700;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 500;
    text-wrap: nowrap;
    cursor: pointer;
}

.detail_room_text {
    padding-top: 50px;
}

.detail_page_amenities {
    padding: 20px 80px;
}

.detail_amenities_title {
    font-size: 32px;
    font-weight: 500;
}

.detail_amenities_info {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.amenities_parts {
    width: 30%;
    display: flex;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.amenities_parts i {
    color: #0d9488;
    font-weight: 600;
}

@media (max-width:1100px) {
    .detail_page_feature ul {
        gap: 30px;
        flex-wrap: wrap;
    }

    .room_detail_image img {
        height: 40vh;
    }
}

@media (max-width:1020px) {
    .booking_detail_page_about_price{
        text-wrap: nowrap;
    }
}

@media (max-width:800px) {

    .detail_page {
        padding: 20px 40px;
    }

    .room_detail {
        display: flex;
        flex-direction: column;
    }

    .detail_page_about_price {
        text-align: center;
    }

    .amenities_parts {
        width: auto;
        font-size: 18px;
        gap: 10px;
    }

    .detail_page_amenities {
        padding: 20px 40px;
    }
}

@media (max-width:550px) {

    .detail_page {
        padding: 20px 20px;
    }

    .detail_amenities_info {
        gap: 20px;
    }

    .detail_page_amenities {
        padding: 20px 20px;
    }
}