* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: darkcyan;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #f1f0ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #1e1e1e;
}

nav ul li a{
    padding: 5px 10px;
}

.web_logo {
    display: flex;
    padding-left: 7vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.web_logo img {
    width: 6vmax;
}

.nav_item ul{
    display: flex;
    gap: 3vmax;
    font-size: 1.2vmax;
    padding-right: 7vw;
    font-weight: 500;
}

.nav_item li{
    align-self: center;
}

.nav_item a{
    display: flex;
    align-items: center;
}

.nav_item i{
    font-size: 1.5vmax;
    align-self: center;
}

.body_part {
    background-color: #1E293B;
    width: 100%;
    min-height: 90vh;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.home_top_part {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* filter: blur(5px); */
}

.headline{
    font-size: 3vmax;
    text-align: center;
    line-height: 1.8cap;
    font-weight: 600;
    text-shadow: 0 0px 16px rgba(0, 0, 0, 15);
}

.home_image{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70vh;
}

.home_image img{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.home_text{
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.home_text_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.home_text button{
    margin-top: 50px;
}

.home_text button{
    background-color: orangered;
    width: 150px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    align-self: center;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3)
}