@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'mont';
    src: url('text/Montserrat.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #dcf6fc;
}

.login_nav {
    padding: 40px 25px;
    position: relative;
}

.web_logo {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    gap: 15px;
    line-height: 1.8cap;
    position: absolute;
    left: 10%;
}

.web_logo img {
    width: 200px;
}

.login_block {
    background-color: white;
    border: none;
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 10%;
    top: 25%;
    box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.3);
}

.login_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    display: block;
    filter: blur(2px);
}

.login_form_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.login_text {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 5px;
}

.login_form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login_text h2 {
    font-weight: 500;
    font-size: 36px;
    /* white-space: normal; */
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.form-control label {
    font-size: 19px;
    font-weight: 500;
}

.input_container {
    border-radius: 5px;
    border: 2px solid rgb(185, 179, 179);
    padding: 0 12px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input_container input {
    margin-left: 15px;
    width: 82%;
    padding: 12px;
}

.input_container span {
    font-size: 20px;
}

.input_container i.ri-eye-line {
    position: absolute;
    right: 15px;
    top: 10px;
}

.input_container input:focus {
    outline: none;
}

.input_container:focus-within {
    border: #24634b;
    box-shadow: 0 0 8px rgba(11, 94, 80, 0.7);
    transition: 0.2s ease;
}

#form a {
    text-align: right;
    color: rgb(2, 58, 41);
}

#form button {
    background-color: rgb(19, 82, 63);
    color: #fff;
    padding: 8px;
    font-size: 19px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
}

.login_form .register_link {
    text-align: center;
}

@media (max-width:1320px) {
    #login_text h2 {
        font-weight: 500;
        font-size: 2.8vw;
        white-space: nowrap;
    }

    .input_container input {
        margin-left: 15px;
        width: 75%;
        padding: 12px;
    }
}

@media (max-width:1000px) {

    .web_logo {
        font-size: 17px;
    }

    .web_logo img {
        width: 150px;
    }

    .login_block {
        grid-template-columns: 1fr;
    }

    #login_img {
        display: none;
    }

    #login_form_block {
        width: 100%;
    }

    #login_text h2 {
        font-weight: 500;
        font-size: 4.5vw;
        white-space: nowrap;
    }

}

@media (max-width:800px) {
    #login_text h2 {
        font-weight: 500;
        font-size: 3.5vmax;
        line-height: 2cap;
        white-space: normal;
    }

    #login_text {
        gap: 15px;
    }

    #login_text p {
        font-size: 1.5vmax;
    }
}

@media (max-height:700px) {

    .login_nav {
        padding: 20px 25px;
        position: relative;
    }

    .web_logo {
        font-size: 12px;
    }

    .web_logo img {
        width: 100px;
    }

    .login_block {
        grid-template-columns: 1fr;
        height: 78vh;
        margin-top: 0;
        position: absolute;
        top: 17%;

    }

    #login_text h2 {
        font-weight: 500;
        margin-top: 13px;
        font-size: 24px;
        line-height: 2cap;
        white-space: normal;
    }

    #login_text {
        gap: 10px;
    }

    #login_text p {
        font-size: 11px;
    }

    .input_container {
        padding: 0 4px;
    }

    .input_container input {
        margin-left: 5px;
        width: 73%;
        padding: 8px 5px;
        font-size: 12px;
    }

    .input_container span {
        padding-left: 2px;
        font-size: 15px;
    }

    .input_container i.ri-eye-line {
        font-size: 15px;
        right: 9px;
        top: 7px;
    }

    .form-control label {
        font-size: 14px;
        font-weight: 500;
    }

    #form {
        display: flex;
        flex-direction: column;
    }

    #form button {
        padding: 6px;
        font-size: 16px;
    }

    #form a {
        font-size: 12px;
    }

    .login_form .register_link {
        font-size: 11px;
    }
}