.rooms_page_title_text {
    text-align: center;
    padding: 35px 20px;
}

.rooms_page_text {
    font-size: 45px;
    font-weight: 500;
}

.rooms_page_card {
    width: 100%;
    padding: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
}

.rooms_page_booking_room {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.rooms_page_booking_image img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.label {
    position: absolute;
    border-radius: 5px;
    padding: 5px 10px;
    top: 10px;
    left: 10px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
}

.guest_label {
    position: absolute;
    border-radius: 5px;
    padding: 5px 10px;
    top: 10px;
    right: 10px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: black;
    color: white;
}

.label.available {
    color: #166534;
    background-color: #dcfce7;
}

.label.booked {
    color: #991b1b;
    background-color: #fee2e2;
}

.label.maintenance {
    color: #92400e;
    background-color: #fef3c7;
}

.rooms_page_booking_text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rooms_page_booking_title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.rooms_page_booking_feature {
    border-radius: 5px;
    padding: 10px 25px;
    border: 0.5px solid rgb(189, 189, 189);
}

.rooms_page_booking_feature ul {
    display: flex;
    gap: 25px;
    text-align: center;
}

.rooms_page_booking_feature ul i {
    font-size: 18px;
    color: #02867b;
}

.rooms_page_booking_feature ul p {
    font-size: 15px;
}

.rooms_page_angage_text {
    padding-top: 15px;
}

.rooms_page_booking_price {
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.rooms_page_booking_price_price {
    font-size: 24px;
    font-weight: 500;
    color: #D32F2F;
}

.rooms_page_booking_detail {
    padding-top: 10px;
    padding-bottom: 20px;
}

.rooms_page_booking_detail button {
    background-color: #0B5D5D;
    color: rgb(255, 255, 255);
    padding: 6px 60px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    border: none;
}

.rooms_page_booking_detail button:hover{
    background-color: #083F3F;
    transform: translateY(-2px);
    transition: all 0.5s ease;
}

.footer {
    background: linear-gradient(135deg, #0d9488, #064e3b);
    color: white;
    padding: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.footer_text {
    font-size: 32px;
    font-weight: 500;
    padding: 0 15px;
}

@media (max-width:1530px) {
    .rooms_page_card {
        justify-content: center
    }
}

@media (max-width:550px) {
    .footer_text {
        font-size: 26px;
    }
}